@font-face {
  font-family: "RalewayRegular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Raleway-Regular.woff") format("woff");
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/lato-regular.woff") format("woff");
  src: url("../fonts/lato-regular.woff2") format("woff2");
  src: url("../fonts/lato-regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  color: Hsla(0deg, 0%, 100%, 1);
  text-decoration: none;
}
a:active {
  color: Hsl(204deg, 62.7%, 32.52%);
}
a:focus {
  color: Hsla(204deg, 69%, 55%, 1);
}

body {
  font-family: "Lato-Regular";
}

a,
button,
input {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.header {
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%;
  padding: 33.5px 15px;
  background-color: Hsla(240deg, 29%, 9%, 0.9);
}
.header__container {
  width: 100%;
  max-width: 1160px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1023px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__title {
  font-family: "RalewayRegular";
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
}
@media (max-width: 1023px) {
  .header__title {
    margin-bottom: 15px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1023px) {
  .nav {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.nav__link {
  position: relative;
  margin-right: 60px;
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
}
@media (max-width: 1023px) {
  .nav__link {
    margin-right: 0;
  }
}
.nav__link:hover {
  color: Hsla(204deg, 69%, 55%, 1);
}
.nav__link::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  content: "";
  display: block;
  background-color: Hsla(204deg, 69%, 55%, 1);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.nav__link:last-child {
  margin-right: 0;
}
.nav__link:hover::before {
  width: 100%;
}
.nav__link:focus::before {
  width: 100%;
}
.nav__link:active {
  color: Hsl(204deg 62.7% 32.52%);
}
.nav__link:active::before {
  width: 100%;
  background-color: Hsl(204deg 62.7% 32.52%);
}

.about {
  height: 845px;
  padding: 206px 15px;
  background-image: url(../img/background__image.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__container {
  width: 100%;
  max-width: 1160px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1023px) {
  .about__container {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px;
  }
}
.about__description {
  margin-bottom: 72px;
}
.about__title {
  max-width: 65%;
  margin-bottom: 93px;
}
@media (max-width: 1023px) {
  .about__title {
    max-width: 100%;
    margin-bottom: 19px;
    text-align: center;
  }
}

@media (max-width: 1023px) {
  .about-description {
    margin-bottom: 30px;
  }
}
.about-description__text {
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;
}

.about-description-list {
  padding-left: 16px;
}
.about-description-list__item {
  margin-bottom: 8px;
  padding-left: 8px;
  font-size: 20px;
  line-height: 21px;
}
.about-description-list__item::marker {
  content: "-";
}

.button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12.5px 0;
  border-radius: 3px;
  color: Hsla(0deg, 0%, 100%, 1);
}
@media (max-width: 1023px) {
  .button {
    font-size: 12px;
    line-height: 14px;
  }
}
.button--blue {
  border: 1px solid Hsla(0deg, 0%, 100%, 1);
  background: Hsla(204deg, 69%, 55%, 1);
}
.button--white {
  border: 1px solid Hsla(249deg, 6%, 45%, 1);
  background: Hsla(0deg, 0%, 100%, 1);
  color: Hsla(230deg, 7%, 18%, 1);
}
.button--white:hover {
  color: Hsla(0deg, 0%, 100%, 1);
}
.button--s {
  width: 100%;
  max-width: 181px;
  font-size: 13px;
  line-height: 16px;
}
@media (max-width: 1023px) {
  .button--s {
    max-width: 129px;
  }
}
.button--block {
  width: 100%;
}
.button--bold {
  font-weight: 600;
}
.button:hover {
  background: Hsl(204deg 53.64% 32.38%);
}
.button:active {
  background: Hsl(204deg 52.63% 20.73%);
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1023px) {
  .button-wrapper {
    width: 100%;
  }
}
.button-wrapper__btn {
  margin-right: 31px;
}
.button-wrapper__btn:last-child {
  margin-right: 0;
}

.title {
  font-weight: 700;
}
.title--large {
  font-size: 48px;
  line-height: 54px;
}
@media (max-width: 1023px) {
  .title--large {
    text-align: center;
    font-size: 25px;
    line-height: 32px;
  }
}
.title--small {
  font-size: 37px;
  line-height: 38px;
}
@media (max-width: 1023px) {
  .title--small {
    font-size: 25px;
    line-height: 28px;
  }
}

.label {
  color: Hsla(204deg, 69%, 55%, 1);
}

.purchase {
  height: 909px;
  padding: 119px 15px;
  background-color: Hsla(240deg, 13%, 18%, 1);
  background-image: url(../img/bacground_section2.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -52px;
  background-position-x: -1px;
}
@media (max-width: 1023px) {
  .purchase {
    height: auto;
  }
}
.purchase p {
  color: Hsla(0deg, 0%, 73%, 1);
}
.purchase__container {
  width: 100%;
  max-width: 1192px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.purchase__info {
  margin-bottom: 80px;
}
@media (max-width: 1023px) {
  .purchase__info {
    margin-bottom: 40px;
  }
}
.purchase__steps {
  margin-bottom: 87px;
}
@media (max-width: 1023px) {
  .purchase__steps {
    margin-bottom: 40px;
  }
}

.purchase-info__title {
  margin-bottom: 33px;
  color: Hsla(0deg, 0%, 100%, 1);
  text-align: center;
}
.purchase-info__text {
  text-align: center;
  font-size: 18px;
  line-height: 19px;
}

.steps {
  z-index: 20;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1023px) {
  .steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.steps__item {
  width: 20%;
}
@media (max-width: 1023px) {
  .steps__item {
    width: 70%;
    margin-bottom: 13px;
  }
}

.steps-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.steps-item__img {
  width: 100px;
  height: 100px;
  margin-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 29px;
  overflow: visible;
  border: 5px solid Hsla(204deg, 57%, 36%, 1);
  border-radius: 50%;
  background: Hsla(204deg, 69%, 55%, 1);
}
@media (max-width: 1023px) {
  .steps-item__img {
    width: 77px;
    height: 77px;
    margin-bottom: 10px;
  }
}
.steps-item__info {
  padding: 0 24px;
  text-align: center;
  font-size: 16px;
  line-height: 17px;
}
.steps-item::before, .steps-item::after {
  position: absolute;
  top: 47px;
  z-index: 10;
  width: 30%;
  height: 6px;
  content: "";
  display: block;
  background-image: url(../img/marker.png);
}
@media (max-width: 1023px) {
  .steps-item::before, .steps-item::after {
    display: none;
  }
}
.steps-item:first-child::before {
  display: none;
}
.steps-item:last-child::after {
  display: none;
}
.steps-item::before {
  left: -13px;
}
.steps-item::after {
  right: -7px;
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  font-family: "Lato-Regular";
}
@media (max-width: 1023px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.form__item {
  width: 369px;
  max-width: 100%;
  margin-bottom: 27px;
}
@media (max-width: 1023px) {
  .form__item {
    margin-bottom: 10px;
  }
}
@media (max-width: 1023px) {
  .form__range {
    width: 369px;
    max-width: 100%;
    margin-bottom: 16px;
  }
}
.form__button-wrapper {
  margin: auto;
  margin-top: 30px;
}
@media (max-width: 1207px) {
  .form__button-wrapper {
    margin: 0;
  }
}

.select {
  position: relative;
}
.select__title {
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 10px;
  border: none;
  border: 2px solid transparent;
  border-radius: 3px;
  background-color: Hsl(0deg, 0%, 100%);
  color: Hsl(240deg 13% 18%/0.62);
  font-family: "Lato-Regular";
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.select__title::after {
  width: 9px;
  height: 6px;
  content: "";
  background-image: url(../img/arrow.png);
}
.select--open .select-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.select--open .select__title {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: Hsla(231deg, 13%, 28%, 0.85);
  color: Hsla(0deg, 0%, 100%, 1);
}
.select--open .select__title::after {
  background-image: url(../img/white_arrow.png);
}
.select--selected {
  color: Hsla(0deg, 0%, 0%, 1);
}

.select-options {
  position: absolute;
  width: 100%;
  max-height: 190px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  border: 1px solid Hsla(231deg, 13%, 28%, 1);
  background-color: Hsla(240deg, 13%, 18%, 0.9);
  scrollbar-color: Hsla(204deg, 69%, 55%, 1) Hsla(231deg, 13%, 28%, 1);
  scrollbar-width: thin;
}
.select-options__item {
  cursor: pointer;
  padding: 12px 16px;
  color: Hsla(0deg, 0%, 100%, 1);
  font-size: 18px;
  line-height: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.select-options__item:hover {
  color: Hsla(204deg, 69%, 55%, 1);
}

.input {
  width: 100%;
  cursor: pointer;
  padding: 12px 10px;
  border: none;
  border: 2px solid Hsl(0deg, 0%, 100%);
  border-radius: 3px;
  font-family: "Lato-Regular";
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.input:focus {
  border-color: Hsla(204deg, 69%, 55%, 1);
}

.input-text {
  cursor: text;
  background-color: Hsl(0deg, 0%, 100%);
  color: Hsla(0deg, 0%, 0%, 1);
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 1023px) {
  .input-text {
    margin-bottom: 10px;
  }
}
.input-text::-webkit-input-placeholder {
  color: Hsl(240deg 13% 18%/0.62);
  font-family: "Lato-Regular";
  font-size: 18px;
}
.input-text::-moz-placeholder {
  color: Hsl(240deg 13% 18%/0.62);
  font-family: "Lato-Regular";
  font-size: 18px;
}
.input-text:-ms-input-placeholder {
  color: Hsl(240deg 13% 18%/0.62);
  font-family: "Lato-Regular";
  font-size: 18px;
}
.input-text::-ms-input-placeholder {
  color: Hsl(240deg 13% 18%/0.62);
  font-family: "Lato-Regular";
  font-size: 18px;
}
.input-text::placeholder {
  color: Hsl(240deg 13% 18%/0.62);
  font-family: "Lato-Regular";
  font-size: 18px;
}

.input-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid Hsla(204deg, 69%, 55%, 1);
  background-color: Hsla(0deg, 0%, 100%, 1);
  color: Hsla(240deg, 13%, 18%, 1);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
.input-file:hover {
  border-color: Hsl(204deg, 54%, 18%);
  background-color: Hsl(204deg 53.64% 32.38%);
  color: Hsla(0deg, 0%, 100%, 1);
}
.input-file__ico {
  fill: currentColor;
  width: 18px;
  height: 20px;
  margin-right: 10px;
}

.file {
  display: none;
}

.input-submit {
  font-size: 15px;
  line-height: 17px;
}

.range-container-input {
  height: 6px;
  cursor: pointer;
  border-radius: 5px;
  background: Hsla(0deg, 0%, 100%, 0.7);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.range-container-input::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 3px solid Hsla(204deg, 57%, 36%, 1);
  border-radius: 50%;
  background: Hsla(204deg, 69%, 55%, 1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-appearance: none;
}
.range-container-input::-webkit-slider-thumb:hover {
  border: 3px solid Hsl(204deg, 54%, 18%);
  background: Hsl(204deg 53.64% 32.38%);
}
.range-container-input::-moz-range-thumb {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 3px solid Hsl(204deg, 54%, 18%);
  border-radius: 50%;
  background: Hsla(204deg, 69%, 55%, 1);
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.range-container-input::-moz-range-thumb:hover {
  border: 3px solid Hsla(204deg, 57%, 36%, 1);
  background: Hsl(204deg 53.64% 32.38%);
}

.range-container__input {
  width: 770px;
}
@media (max-width: 1207px) {
  .range-container__input {
    width: 369px;
    max-width: 100%;
  }
}
.range-container__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.range-container__label, .range-container__info {
  margin-bottom: 11px;
  color: Hsla(0deg, 0%, 100%, 0.85);
  font-family: "Lato-Regular";
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 1023px) {
  .range-container__label, .range-container__info {
    font-size: 15px;
  }
}
.range-container__label--value, .range-container__info--value {
  font-weight: 600;
}

.footer {
  padding: 23px 15px;
  background-color: Hsla(231deg, 13%, 28%, 1);
}
.footer__container {
  width: 100%;
  max-width: 1160px;
  margin: auto;
}
.footer__social {
  margin-right: 50px;
}
@media (max-width: 1023px) {
  .footer__social {
    margin-right: 0;
  }
}
.footer__social:last-child {
  margin-right: 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1023px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer-container__info {
  color: Hsla(0deg, 0%, 100%, 1);
  font-size: 13px;
  line-height: 14px;
}
@media (max-width: 1023px) {
  .footer-container__info {
    font-size: 12px;
  }
}
@media (max-width: 1023px) {
  .footer-container__copyright {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.footer-container__item {
  height: 18px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 1023px) {
  .footer-container__item {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 0;
  }
}
.footer-container__item:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer-container__item:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-right: 0;
}
.footer-container__pay {
  padding: 0 40px;
  border-right: 1px solid Hsl(0deg, 0%, 76%);
  border-left: 1px solid Hsl(0deg, 0%, 76%);
}
@media (max-width: 1023px) {
  .footer-container__pay {
    border-right: 0;
    border-left: 0;
  }
}

.payment {
  margin-right: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1023px) {
  .payment {
    margin-bottom: 10px;
  }
}
.payment:last-child {
  margin-right: 0;
}
.payment__info {
  margin-left: 10px;
  color: Hsla(0deg, 0%, 76%, 1);
  font-size: 13px;
  line-height: 14px;
}

.social {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 14px;
}
@media (max-width: 1023px) {
  .social {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .social:last-child {
    margin-bottom: 0;
  }
}
.social:hover {
  color: Hsla(204deg, 69%, 55%, 1);
}
.social__item {
  margin-right: 14px;
}