* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

p, a, h1, li, button, h2 {
  font-family: "Lato-Regular";
}

a, button {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.header {
  background-color: hsla(240, 29%, 9%, 0.9);
  padding: 33.5px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}
.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 1160px;
}
@media (max-width: 1023px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__title {
  font-family: "RalewayRegular";
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
}
@media (max-width: 1023px) {
  .header__title {
    margin-bottom: 15px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1023px) {
  .nav {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.nav__link {
  font-weight: 600;
  font-size: 13px;
  margin-right: 60px;
  position: relative;
}
.nav__link:before {
  content: "";
  width: 0;
  height: 1px;
  left: 0;
  bottom: -5px;
  display: block;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  position: absolute;
  background-color: hsl(204, 69%, 55%);
}
@media (max-width: 1023px) {
  .nav__link {
    margin-right: 0;
  }
}
.nav__link:last-child {
  margin-right: 0;
}
.nav__link:hover {
  color: hsl(204, 69%, 55%);
}
.nav__link:hover:before {
  width: 100%;
}
.nav__link:active {
  color: hsl(204, 62.7%, 32.52%);
}
.nav__link:active:before {
  width: 100%;
  background-color: hsl(204, 62.7%, 32.52%);
}

.about {
  background-image: url(../img/background__image.png);
  padding: 200px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 845px;
}
.about__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 1160px;
}
@media (max-width: 1023px) {
  .about__container {
    max-width: 100%;
    padding: 0 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about__description {
  margin-bottom: 74px;
}
@media (max-width: 1023px) {
  .about__description {
    margin-bottom: 30px;
  }
}
.about__text {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 20px;
}
.about__title {
  max-width: 65%;
  margin-bottom: 91px;
}
@media (max-width: 1023px) {
  .about__title {
    text-align: center;
    max-width: 100%;
    margin-bottom: 19px;
  }
}

.about-list {
  padding-left: 16px;
}
.about-list__item {
  margin-bottom: 5px;
  padding-left: 8px;
  font-size: 20px;
}
.about-list__item::marker {
  content: "-";
}

.about-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-buttons__btn {
  margin-left: 31px;
}
.about-buttons__btn:first-child {
  margin: 0;
}

.label {
  color: hsl(204, 69%, 55%);
}

.title {
  font-weight: 700;
}
.title--large {
  font-size: 48px;
}
@media (max-width: 1023px) {
  .title {
    font-size: 25px;
    text-align: center;
  }
}
.title--small {
  font-size: 37px;
}

.purchase {
  background-color: hsl(240, 13%, 18%);
  background-image: url(../img/bacground_section2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 909px;
  background-position-y: -52px;
  background-position-x: -1px;
  padding: 113px 0;
}
@media (max-width: 1023px) {
  .purchase {
    height: 100%;
  }
}
.purchase p {
  color: hsl(0, 0%, 73%);
}
.purchase__container {
  margin: auto;
  width: 100%;
  max-width: 1190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.purchase__info {
  text-align: center;
}

.purchase-info {
  margin-bottom: 80px;
}
@media (max-width: 1023px) {
  .purchase-info {
    margin-bottom: 40px;
  }
}
.purchase-info__title {
  text-align: center;
  margin-bottom: 30px;
  color: hsl(0, 0%, 100%);
}
.purchase-info__text {
  text-align: center;
  font-size: 18px;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 2;
  margin-bottom: 85px;
}
@media (max-width: 1023px) {
  .steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
}

.steps-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  position: relative;
}
@media (max-width: 1023px) {
  .steps-item {
    margin-bottom: 13px;
    width: 70%;
  }
}
.steps-item__img {
  background: hsl(204, 69%, 55%);
  padding: 33px;
  border-radius: 60px;
  border: 5px solid hsl(204, 57%, 36%);
  overflow: visible;
  width: 100px;
  height: 100px;
  -o-object-fit: none;
     object-fit: none;
  margin-bottom: 20px;
}
@media (max-width: 1023px) {
  .steps-item__img {
    width: 77px;
    height: 77px;
    margin-bottom: 10px;
  }
}
.steps-item__info {
  text-align: center;
  font-size: 16px;
  padding: 0 24px;
}
.steps-item::before {
  content: "";
  display: block;
  background-image: url(../img/marker.png);
  position: absolute;
  height: 6px;
  width: 30%;
  top: 47px;
  z-index: -1;
  left: -13px;
}
@media (max-width: 1023px) {
  .steps-item::before {
    display: none;
  }
}
.steps-item:first-child::before {
  display: none;
}
.steps-item:last-child::after {
  display: none;
}
.steps-item::after {
  content: "";
  display: block;
  background-image: url(../img/marker.png);
  position: absolute;
  height: 6px;
  width: 30%;
  top: 47px;
  z-index: -1;
  right: -7px;
}
@media (max-width: 1023px) {
  .steps-item::after {
    display: none;
  }
}

.form {
  font-family: "Lato-Regular";
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 1023px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.select-container {
  position: relative;
}
@media (max-width: 1023px) {
  .select-container {
    margin-bottom: 10px;
  }
}
.select-container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: hsla(240, 13%, 18%, 0.62);
  background-color: hsl(0, 0%, 100%);
  font-size: 18px;
}
.select-container__title::after {
  content: "";
  background-image: url(../img/arrow.png);
  width: 9px;
  height: 6px;
}
.select-container.open .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.select-container.open .select-container__title {
  background-color: hsla(231, 13%, 28%, 0.85);
  color: hsl(0, 0%, 100%);
}
.select-container.open .select-container__title::after {
  background-image: url(../img/white_arrow.png);
}

.selected {
  color: hsl(0, 0%, 0%) !important;
}

.input {
  padding: 12px 13px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 369px;
  border: none;
  font-family: "Lato-Regular";
  border-radius: 3px;
}
@media (max-width: 1023px) {
  .input {
    width: 289px;
  }
}
.input__text {
  cursor: text;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  font-size: 18px;
}
@media (max-width: 1023px) {
  .input__text {
    margin-bottom: 10px;
  }
}
.input__text::-webkit-input-placeholder {
  color: hsla(240, 13%, 18%, 0.62);
  font-size: 18px;
  font-family: "Lato-Regular";
}
.input__text::-moz-placeholder {
  color: hsla(240, 13%, 18%, 0.62);
  font-size: 18px;
  font-family: "Lato-Regular";
}
.input__text:-ms-input-placeholder {
  color: hsla(240, 13%, 18%, 0.62);
  font-size: 18px;
  font-family: "Lato-Regular";
}
.input__text::-ms-input-placeholder {
  color: hsla(240, 13%, 18%, 0.62);
  font-size: 18px;
  font-family: "Lato-Regular";
}
.input__text::placeholder {
  color: hsla(240, 13%, 18%, 0.62);
  font-size: 18px;
  font-family: "Lato-Regular";
}
.input__file {
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(204, 69%, 55%);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: hsl(240, 13%, 18%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 31px;
}
.input__file .white {
  display: none;
}
.input__file img {
  margin-right: 10px;
}
.input__file:hover {
  background-color: hsl(204, 53.64%, 32.38%);
  border: 3px solid hsl(204, 54%, 18%);
  color: hsl(0, 0%, 100%);
}
.input__file:hover .black {
  display: none;
}
.input__file:hover .white {
  display: block;
}
.input__submit {
  background-color: hsl(204, 69%, 55%);
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: 600;
  margin-top: 53px;
}
.input__submit:hover {
  background-color: hsl(204, 53.64%, 32.38%);
  border: 3px solid hsl(204, 54%, 18%);
}

.file {
  display: none;
}

.options {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: hsla(240, 13%, 18%, 0.9);
  border: 1px solid hsl(231, 13%, 28%);
  max-height: 190px;
  overflow-y: auto;
  scrollbar-color: hsl(204, 69%, 55%) hsl(231, 13%, 28%);
  scrollbar-width: thin;
  width: 100%;
  position: absolute;
}
.options__item {
  padding: 12px 16px;
  cursor: pointer;
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.options__item:hover {
  color: hsl(204, 69%, 55%);
}

.range {
  height: 6px;
  border-radius: 5px;
  background: hsla(0, 0%, 100%, 0.7);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 20px;
  width: 770px;
}
@media (max-width: 1023px) {
  .range {
    width: 100%;
    max-width: 770px;
  }
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: hsl(204, 69%, 55%);
  border: 3px solid hsl(204, 57%, 36%);
  cursor: pointer;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.range::-webkit-slider-thumb:hover {
  background: hsl(204, 53.64%, 32.38%);
  border: 3px solid hsl(204, 54%, 18%);
}
.range::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: hsl(204, 69%, 55%);
  border: 3px solid hsl(204, 57%, 36%);
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.range::-moz-range-thumb:hover {
  background: hsl(204, 53.64%, 32.38%);
  border: 3px solid hsl(204, 54%, 18%);
}

.range-container {
  margin-top: 31px;
}
@media (max-width: 1023px) {
  .range-container {
    max-width: 289px;
    width: 100%;
  }
}

.range-container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.range-container-text__info {
  font-family: "Lato-Regular";
  color: hsla(0, 0%, 100%, 0.85);
  font-size: 18px;
}
@media (max-width: 1023px) {
  .range-container-text__info {
    font-size: 15px;
  }
}
.range-container-text__info--value {
  font-weight: 600;
}

.footer {
  background-color: hsl(231, 13%, 28%);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1160px;
  margin: auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}
@media (max-width: 1023px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
}
.footer-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1023px) {
  .footer-container__item {
    margin-bottom: 10px;
  }
}
.footer-container__item--info {
  color: hsl(0, 0%, 100%);
  font-size: 13px;
}
@media (max-width: 1023px) {
  .footer-container__item--info {
    font-size: 12px;
  }
}
.footer-container__item--payment {
  border-left: 1px solid hsl(0, 0%, 76%);
  border-right: 1px solid hsl(0, 0%, 76%);
  padding: 0px 50px;
}
@media (max-width: 1023px) {
  .footer-container__item--payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
}

.payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
@media (max-width: 1023px) {
  .payment {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.payment:last-child {
  margin-right: 0;
}
.payment__info {
  color: hsl(0, 0%, 76%);
  margin-left: 10px;
  font-size: 13px;
}

.social {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}
.social:hover {
  color: hsl(204, 69%, 55%);
}
.social:last-child {
  margin-right: 0;
}
.social__item {
  margin-right: 14px;
}

.button {
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1023px) {
  .button {
    font-size: 12px;
  }
}
.button--blue {
  background: hsl(204, 69%, 55%);
}
.button--white {
  color: hsl(230, 7%, 18%);
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(249, 6%, 45%);
}
.button--white:hover {
  color: hsl(0, 0%, 100%);
}
.button--s {
  height: 43px;
  width: 181px;
}
@media (max-width: 1023px) {
  .button--s {
    width: 129px;
  }
}
.button:hover {
  background: hsl(204, 53.64%, 32.38%);
}
.button:active {
  background: hsl(204, 52.63%, 20.73%);
}