* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/Raleway-Regular.woff") format("woff");
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/lato-regular.woff") format("woff");
  src: url("../fonts/lato-regular.woff2") format("woff2");
  src: url("../fonts/lato-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
a:active {
  color: hsl(204, 62.7%, 32.52%);
}
a:focus {
  color: hsl(204, 69%, 55%);
}

body {
  font-family: "Lato-Regular";
}

a, button, input {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.header {
  background-color: hsla(240, 29%, 9%, 0.9);
  padding: 33.5px 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 30;
}
.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 1160px;
}
@media (max-width: 1023px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__title {
  font-family: "RalewayRegular";
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
}
@media (max-width: 1023px) {
  .header__title {
    margin-bottom: 15px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1023px) {
  .nav {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.nav__link {
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  margin-right: 60px;
  position: relative;
}
.nav__link:hover {
  color: hsl(204, 69%, 55%);
}
@media (max-width: 1023px) {
  .nav__link {
    margin-right: 0;
  }
}
.nav__link:before {
  content: "";
  width: 0;
  height: 1px;
  left: 0;
  bottom: -5px;
  display: block;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  position: absolute;
  background-color: hsl(204, 69%, 55%);
}
.nav__link:last-child {
  margin-right: 0;
}
.nav__link:hover:before {
  width: 100%;
}
.nav__link:focus:before {
  width: 100%;
}
.nav__link:active {
  color: hsl(204, 62.7%, 32.52%);
}
.nav__link:active:before {
  width: 100%;
  background-color: hsl(204, 62.7%, 32.52%);
}

.about {
  background-image: url(../img/background__image.png);
  padding: 206px 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 845px;
}
.about__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 1160px;
}
@media (max-width: 1023px) {
  .about__container {
    max-width: 100%;
    padding: 0 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about__description {
  margin-bottom: 72px;
}
.about__title {
  max-width: 65%;
  margin-bottom: 93px;
}
@media (max-width: 1023px) {
  .about__title {
    text-align: center;
    max-width: 100%;
    margin-bottom: 19px;
  }
}

@media (max-width: 1023px) {
  .about-description {
    margin-bottom: 30px;
  }
}
.about-description__text {
  font-weight: 700;
  margin-bottom: 13px;
  font-size: 20px;
  line-height: 21px;
}

.about-description-list {
  padding-left: 16px;
}
.about-description-list__item {
  margin-bottom: 8px;
  padding-left: 8px;
  font-size: 20px;
  line-height: 21px;
}
.about-description-list__item::marker {
  content: "-";
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1023px) {
  .button-wrapper {
    width: 100%;
  }
}
.button-wrapper__btn {
  margin-right: 31px;
}
.button-wrapper__btn:last-child {
  margin-right: 0;
}

.button {
  color: hsl(0, 0%, 100%);
  border-radius: 3px;
  cursor: pointer;
  padding: 12.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1023px) {
  .button {
    font-size: 12px;
    line-height: 14px;
  }
}
.button--blue {
  background: hsl(204, 69%, 55%);
  border: 1px solid hsl(0, 0%, 100%);
}
.button--white {
  color: hsl(230, 7%, 18%);
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(249, 6%, 45%);
}
.button--white:hover {
  color: hsl(0, 0%, 100%);
}
.button--s {
  max-width: 181px;
  width: 100%;
  font-size: 13px;
  line-height: 16px;
}
@media (max-width: 1023px) {
  .button--s {
    max-width: 129px;
  }
}
.button--block {
  width: 100%;
}
.button--bold {
  font-weight: 600;
}
.button:hover {
  background: hsl(204, 53.64%, 32.38%);
}
.button:active {
  background: hsl(204, 52.63%, 20.73%);
}

.label {
  color: hsl(204, 69%, 55%);
}

.title {
  font-weight: 700;
}
.title--large {
  font-size: 48px;
  line-height: 54px;
}
@media (max-width: 1023px) {
  .title--large {
    font-size: 25px;
    text-align: center;
    line-height: 32px;
  }
}
.title--small {
  font-size: 37px;
  line-height: 38px;
}
@media (max-width: 1023px) {
  .title--small {
    font-size: 25px;
    line-height: 28px;
  }
}

.purchase {
  background-color: hsl(240, 13%, 18%);
  background-image: url(../img/bacground_section2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 909px;
  background-position-y: -52px;
  background-position-x: -1px;
  padding: 119px 15px;
}
@media (max-width: 1023px) {
  .purchase {
    height: auto;
  }
}
.purchase p {
  color: hsl(0, 0%, 73%);
}
.purchase__container {
  margin: auto;
  width: 100%;
  max-width: 1192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.purchase__info {
  margin-bottom: 80px;
}
@media (max-width: 1023px) {
  .purchase__info {
    margin-bottom: 40px;
  }
}
.purchase__steps {
  margin-bottom: 87px;
}
@media (max-width: 1023px) {
  .purchase__steps {
    margin-bottom: 40px;
  }
}

.purchase-info__title {
  text-align: center;
  margin-bottom: 33px;
  color: hsl(0, 0%, 100%);
}
.purchase-info__text {
  text-align: center;
  font-size: 18px;
  line-height: 19px;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 20;
}
.steps__item {
  width: 20%;
}
@media (max-width: 1023px) {
  .steps__item {
    margin-bottom: 13px;
    width: 70%;
  }
}
@media (max-width: 1023px) {
  .steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.steps-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.steps-item__img {
  background: hsl(204, 69%, 55%);
  padding: 29px;
  border-radius: 50%;
  border: 5px solid hsl(204, 57%, 36%);
  overflow: visible;
  width: 100px;
  height: 100px;
  margin-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1023px) {
  .steps-item__img {
    width: 77px;
    height: 77px;
    margin-bottom: 10px;
  }
}
.steps-item__info {
  text-align: center;
  font-size: 16px;
  line-height: 17px;
  padding: 0 24px;
}
.steps-item::before, .steps-item::after {
  content: "";
  display: block;
  background-image: url(../img/marker.png);
  position: absolute;
  height: 6px;
  width: 30%;
  top: 47px;
  z-index: 10;
}
@media (max-width: 1023px) {
  .steps-item::before, .steps-item::after {
    display: none;
  }
}
.steps-item:first-child::before {
  display: none;
}
.steps-item:last-child::after {
  display: none;
}
.steps-item::before {
  left: -13px;
}
.steps-item::after {
  right: -7px;
}

.form {
  font-family: "Lato-Regular";
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}
@media (max-width: 1023px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.form__item {
  max-width: 100%;
  width: 369px;
  margin-bottom: 27px;
}
@media (max-width: 1023px) {
  .form__item {
    margin-bottom: 10px;
  }
}
@media (max-width: 1023px) {
  .form__range {
    max-width: 100%;
    width: 369px;
    margin-bottom: 16px;
  }
}
.form__button-wrapper {
  margin: auto;
  margin-top: 30px;
}
@media (max-width: 1207px) {
  .form__button-wrapper {
    margin: 0;
  }
}

.select {
  position: relative;
}
.select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: hsla(240, 13%, 18%, 0.62);
  background-color: hsl(0, 0%, 100%);
  font-size: 18px;
  line-height: 22px;
  padding: 12px 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  font-family: "Lato-Regular";
  border: 2px solid transparent;
  border-radius: 3px;
}
.select__title::after {
  content: "";
  background-image: url(../img/arrow.png);
  width: 9px;
  height: 6px;
}
.select--open .select-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.select--open .select__title {
  background-color: hsla(231, 13%, 28%, 0.85);
  color: hsl(0, 0%, 100%);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.select--open .select__title::after {
  background-image: url(../img/white_arrow.png);
}
.select--selected {
  color: hsl(0, 0%, 0%);
}

.select-options {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: hsla(240, 13%, 18%, 0.9);
  border: 1px solid hsl(231, 13%, 28%);
  max-height: 190px;
  overflow-y: auto;
  scrollbar-color: hsl(204, 69%, 55%) hsl(231, 13%, 28%);
  scrollbar-width: thin;
  width: 100%;
  position: absolute;
}
.select-options__item {
  padding: 12px 16px;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  color: hsl(0, 0%, 100%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.select-options__item:hover {
  color: hsl(204, 69%, 55%);
}

.input {
  padding: 12px 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  border: none;
  font-family: "Lato-Regular";
  border-radius: 3px;
  border: 2px solid hsl(0, 0%, 100%);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.input:focus {
  border-color: hsl(204, 69%, 55%);
}

.input-text {
  cursor: text;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 1023px) {
  .input-text {
    margin-bottom: 10px;
  }
}
.input-text::-webkit-input-placeholder {
  color: hsla(240, 13%, 18%, 0.62);
  font-size: 18px;
  font-family: "Lato-Regular";
}
.input-text::-moz-placeholder {
  color: hsla(240, 13%, 18%, 0.62);
  font-size: 18px;
  font-family: "Lato-Regular";
}
.input-text:-ms-input-placeholder {
  color: hsla(240, 13%, 18%, 0.62);
  font-size: 18px;
  font-family: "Lato-Regular";
}
.input-text::-ms-input-placeholder {
  color: hsla(240, 13%, 18%, 0.62);
  font-size: 18px;
  font-family: "Lato-Regular";
}
.input-text::placeholder {
  color: hsla(240, 13%, 18%, 0.62);
  font-size: 18px;
  font-family: "Lato-Regular";
}

.input-file {
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(204, 69%, 55%);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: hsl(240, 13%, 18%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.input-file:hover {
  background-color: hsl(204, 53.64%, 32.38%);
  border-color: hsl(204, 54%, 18%);
  color: hsl(0, 0%, 100%);
}
.input-file__ico {
  fill: currentColor;
  width: 18px;
  height: 20px;
  margin-right: 10px;
}

.file {
  display: none;
}

.input-submit {
  font-size: 15px;
  line-height: 17px;
}

.range-container-input {
  height: 6px;
  border-radius: 5px;
  background: hsla(0, 0%, 100%, 0.7);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.range-container-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: hsl(204, 69%, 55%);
  border: 3px solid hsl(204, 57%, 36%);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.range-container-input::-webkit-slider-thumb:hover {
  background: hsl(204, 53.64%, 32.38%);
  border: 3px solid hsl(204, 54%, 18%);
}
.range-container-input::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: hsl(204, 69%, 55%);
  border: 3px solid hsl(204, 54%, 18%);
  cursor: pointer;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.range-container-input::-moz-range-thumb:hover {
  background: hsl(204, 53.64%, 32.38%);
  border: 3px solid hsl(204, 57%, 36%);
}

.range-container__input {
  width: 770px;
}
@media (max-width: 1207px) {
  .range-container__input {
    width: 369px;
    max-width: 100%;
  }
}
.range-container__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.range-container__label, .range-container__info {
  font-family: "Lato-Regular";
  color: hsla(0, 0%, 100%, 0.85);
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 1023px) {
  .range-container__label, .range-container__info {
    font-size: 15px;
  }
}
.range-container__label--value, .range-container__info--value {
  font-weight: 600;
}

.footer {
  background-color: hsl(231, 13%, 28%);
  padding: 23px 15px;
}
.footer__container {
  max-width: 1160px;
  margin: auto;
  width: 100%;
}
.footer__social {
  margin-right: 50px;
}
@media (max-width: 1023px) {
  .footer__social {
    margin-right: 0;
  }
}
.footer__social:last-child {
  margin-right: 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1023px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer-container__info {
  color: hsl(0, 0%, 100%);
  font-size: 13px;
  line-height: 14px;
}
@media (max-width: 1023px) {
  .footer-container__info {
    font-size: 12px;
  }
}
@media (max-width: 1023px) {
  .footer-container__copyright {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.footer-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 18px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0;
}
@media (max-width: 1023px) {
  .footer-container__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    border: 0;
  }
}
.footer-container__item:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer-container__item:last-child {
  border-right: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.footer-container__pay {
  border-left: 1px solid hsl(0, 0%, 76%);
  border-right: 1px solid hsl(0, 0%, 76%);
  padding: 0px 40px;
}
@media (max-width: 1023px) {
  .footer-container__pay {
    border-left: 0;
    border-right: 0;
  }
}

.payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 43px;
}
.payment:last-child {
  margin-right: 0;
}
@media (max-width: 1023px) {
  .payment {
    margin-bottom: 10px;
  }
}
.payment__info {
  color: hsl(0, 0%, 76%);
  margin-left: 10px;
  font-size: 13px;
  line-height: 14px;
}

.social {
  font-size: 13px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}
@media (max-width: 1023px) {
  .social {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .social:last-child {
    margin-bottom: 0;
  }
}
.social:hover {
  color: hsl(204, 69%, 55%);
}
.social__item {
  margin-right: 14px;
}