* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  color: Hsla(0deg, 0%, 100%, 1);
  text-decoration: none;

  &:active {
    color: Hsl(204deg, 62.7%, 32.52%);
  }

  &:focus {
    color: $blue;
  }
}

body {
  font-family: "Lato-Regular";
}

a,
button,
input {
  transition: 0.3s ease-out;
}