$blue: Hsla(204deg, 69%, 55%, 1);
$background_1: Hsla(240deg, 29%, 9%, 0.9);
$background_2: Hsla(240deg, 13%, 18%, 1);
$button__hover: Hsl(204deg 53.64% 32.38%);
$background_3: Hsla(231deg, 13%, 28%, 1);
$border: Hsla(204deg, 57%, 36%, 1);
$border--hover: Hsl(204deg, 54%, 18%);